<%= render 'shared/page_title', title: "PURI" %>
<ul class="nav nav-tabs">
  <li class="active"> <%= link_to "Temples", ptemples_path %> </li>
  <li><%= link_to "Subscribers", customers_path %> </li>
</ul>

<%= will_paginate %>

 <% @ptemples.each do |ptemple| %>
  <div class="row">
  	<div class="col-md-2">
  		<section class="customer_info center">
  		  <%= link_to gravatar_for(ptemple.customer, size: 100), customer_path(ptemple.customer) %>
        <h5>name: <%= ptemple.customer.customername %></h5>
  		</section>
  	</div>
    
    <div class="col-lg-6 well">
        <h4><%= link_to ptemple.name, ptemple_path(ptemple) %></h4>
        <p><%= ptemple.summary %></p>
        <p>
            <span class='quiet'><small> created: <%= time_ago_in_words(ptemple.created_at)%> ago, </small></span>
            <span class='quiet'><small> updated: <%= time_ago_in_words(ptemple.updated_at)%> ago</small></span>
        </p>
        	 <div class="pull-right">
	   	      <%= link_to like_ptemple_path(ptemple, like: true), method: :post do %>
	   	        <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= ptemple.thumbs_up_total %>
	   	      <% end %> &nbsp&nbsp&nbsp&nbsp
            <%= link_to like_ptemple_path(ptemple, like: false), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp <%= ptemple.thumbs_down_total %>
	   	       <% end %>	
	   	     </div>
        
    </div>
    
    <div class="col-md-4">
      <%= image_tag(ptemple.picture.url, size: "250x150", class: "gravatar") if ptemple.picture? %> 
    </div>

    </div>
    <hr/>
  <% end %>
    
<%= will_paginate %>