<%= render 'shared/page_title', title: "PURI" %>

<% @ptemples.each do |ptemple| %>
  <div class="row">
  	<div class="col-md-2">
  		<section class="customer_info center">
  		  <%= link_to gravatar_for(ptemple.customer, size: 100) %>
        <h5>name: <%= ptemple.customer.customername %></h5>
  		</section>
  	</div>
    
    <div class="col-lg-6 well">
        <h4><%= link_to ptemple.name, ptemple_path(ptemple) %></h4>
        <p><%= ptemple.summary %></p>
        <p>
            <span class='quiet'><small> created: <%= time_ago_in_words(ptemple.created_at)%> ago,</small></span>
        </p>
    </div>
    
    <div class="col-md-4">
      <%= image_tag(ptemple.picture.url, size: "250x150", class: "gravatar") if ptemple.picture? %> 
    </div>

    </div>
    <hr/>
    <% end %>